body {
    background-color: #b5b3b3;
    color: white;
    margin: 50px auto;
    width: 700px;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', sans-serif;
    color: rgb(47, 46, 46);
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    border: 1px solid white;
    padding: 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.8);
    margin-bottom: 50px;
}

h2, h3, h4 {
    font-size: 1.5em;
}

h5, h6 {
    font-size: 1.2em;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="date"], input[type="color"], input[type="range"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
}

button, input[type="submit"] {
    background-color: #604caf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d9c94d;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    /*texto*/
    color: rgb(0, 0, 0);
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #343333;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ffe3a3;
}


table.t1 {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table.t2 {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e6e2e2;
    text-align: center;
}

th {
    background-color: #343232;
    color: #272626;
    padding: 15px;
}


td {
    padding: 15px;
    text-align: center;
}

